{% if page.message %}
  <div class="gva-drupal-message-status">
    {{ page.message }}
  </div>
{% endif %}

<footer id="footer" class="footer">
  <div class="footer-inner">
  {% include directory ~ '/templates/page/parts/footer.html.twig' %}
  </div>
</footer>

