{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}
<style>
    @import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');



.feature-text
{
  position: relative;
  z-index: 10;
padding-bottom:20px;
}

.feature-text h2
{
  font-size: 8em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  text-align: center;
  vertical-align:middle;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);

}
.feature-text h3
{
  font-size: 5em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 5px !important;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}
.feature-text p
{
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}
.feature-text a
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.feature-text a:hover
{
  letter-spacing: 6px;
}


@media (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  .feature-text h2
  {
    font-size: 3em;
  }
  .feature-text h3
  {
    font-size: 2em;
  }
}
.wicon-main{
  font-size:larger;
}

</style>

<div class="feature-text d-none d-sm-block d-sm-none d-md-block">
      <h2>{{ fields.field_tag_line_1.content }} </h2>
      <h3>{{ fields.field_tag_line_2.content }}</h3>
      <p>{{ fields.field_description.content }}</p>
      <div>{{ fields.field_feature_url.content }}</div>
        <div class="text-center">
      <i id="wicon-main" class="wi wi-main wi-white"></i>
      <span id="temperature"></span>
    <p id="description" class="text-capitalize"></p>
  <p><span id="humidity"></span> <i class="wi wi-humidity wi-white"></i> Humidity</p>
    </div>
</div>



