{% if page.help %}
<section id="help-section">
<div class="container">
<div class="row">
<div class="col-md-12" style="background-color:#ccc;">
{{ page.help }}
</div>
</div>
</div>
</section>
{% endif %}
