<div class="theme-page">
	{% include directory ~ '/templates/page/parts/pagebg.html.twig' %}
	{% include directory ~ '/templates/page/parts/preloader.html.twig' %}
	{% include directory ~ '/templates/page/parts/msuheader.html.twig' %}

	{% include header_skin %}
	{% include directory ~ '/templates/page/parts/promotion.html.twig' %}
	{% include directory ~ '/templates/page/parts/pagetop.html.twig' %}
	{% include directory ~ '/templates/page/parts/help.html.twig' %}
	{% include directory ~ '/templates/page/parts/content.html.twig' %}
	{% include directory ~ '/templates/page/parts/pagebottom.html.twig' %}
	{% include directory ~ '/templates/page/footer.html.twig' %}
	{% include directory ~ '/templates/page/parts/msufooter.html.twig' %}
<h1>Template No Sidebar</h1>
</div>
